h1 {
    text-align: center;

}
#H1{
   text-align: left;
    margin-left: 20%;
    color: red;
    font-size: medium;
    margin-right: 30%;
}
#H2{
     text-align: left;
    margin-left: 20%;
    color: red;
    font-size: medium;
    margin-right: 30%;
}
#H3{
     text-align: left;
    margin-left: 20%;
    color: red;
    font-size: medium;
    margin-right: 30%;
}
p{
    margin-left: 20%;
    font-weight: bold;
    margin-right: 20%;
}
dl{
    margin-right: 20%;
    font-weight: bold;
    margin-left: 17%;
}
hr{
    margin-left: 20%;
    margin-right: 20%;
    color: aqua;
}